body {
    font-family: 'Inter';
    font-family: 'Arial', sans-serif;
}

.container {
    padding: 12px 18px 15px 22px;
    display: flex;
    
}

.card {
    margin: auto;
    width: 743px;
    height: 91px;
    background-color: #3579F5;
    color: #FFFFFF;
    border-radius: 10px;
    position: relative;
}
.card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    font-weight: 400;
    font-size: 20px;
    line-height:30px;
    position: relative;
}
.card__body {
    padding: 0 0 0 17px;
}

.card__title {
    background-color: #2364DB;
    width: 76px;
    text-align: center;
    font-weight: 400;
    font-size:12px;
    line-height: 18px;
    border-radius:40px;
    padding: 0px 10px 0px 10px;
    gap: 10px;
}
.card__cases {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}
.card__todo {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.card__button {
    position: absolute;
    right: 18px;
    top: 26px;
}

button {
    width: 170px;
    background-color: #F4F8FF;
    color: #4777ED;
    height: 40px;
    border-radius: 6px;
    padding: 10px, 32px, 10px, 32px;
    gap: 10px
}

.progress-circle {
    transform: rotate(-90deg);
    stroke-width: 4px;
    overflow: visible;
}

.progress-bar {
  fill: transparent;
  stroke: #ffffff;
  stroke-dasharray: calc((var(--progress-value) + 4) * 181.4 / 100) 181.4;
  transition: stroke-dasharray 0.5s ease-in-out;
}

.card__icon-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:400;
    font-size: 20px;
    line-height: 30px;
}
